.App {
  text-align: center;
}

.header{
  height: 10vh;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.retrieved-books{
  height: 90vh;
  width: 60vw;
  display: flex;
  background-color: grey;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.book{
  display: flex;
}

.book img{
  height: 30vh;
  width: 25vh;
  margin:0px 5px;
  border-radius: 3%;
}

/* .adding-book{
  background-color: transparent;
  z-index: 1;
} */